/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light Grey */
  color: #333333; /* Dark Grey */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.main-content {
  padding: 2rem;
}

/* Animation for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Transitions */
.transition {
  transition: all 0.3s ease;
}
